  <div class="row">
    <div class="col-md-1">
      <%= image_tag 'idea.png', class:"idea-pic" %>
    </div>
    <div class="col-md-11">
      <h1 class="subtitle">PROJECT IDEA</h1>
    </div>
  </div>
  <div class="row">
    <%= render "idea_card" %>
  </div>
  <div class="row">
    <h2 class="text-center">Attachments</h2>
    <div class="col-md-12 col-md-push-2">
      <%= image_tag @idea.photo %>
    </div>
 </div>
