<!-- SIGNUP FORM PAGE -->
  <div class="row">
    <div class="col-md-2 col-xs-2">

    </div>
    <div class="form-group col-md-8 col-xs-8">
      <h2 class="subtitle">SIGN UP</h2>
      <%= render "form_for_user" %>
    </div>
    <div class="col-md-2 col-xs-2">

    </div>
  </div>
