<div class="container-fluid about-image">
  <h1>Bootstrap Affix Example</h1>
  <h3>Fixed (sticky) navbar on scroll</h3>
  <p>Scroll this page to see how the navbar behaves with data-spy="affix".</p>
  <p>The navbar is attached to the top of the page after you have scrolled a specified amount of pixels.</p>
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav center">
    <li><a bref="#">What We Do</a></li>
    <li><a href="#">Who We Are</a></li>
    <li><a href="#">Why General Assembly</a></li>
  </ul>
</nav>
<hr>
<div class='wwd'>
  <div class="top-wwd">
    <h2 class="subtitle about-title">What We Do</h2>
    <h5>It can be daunting to go to a meetup or a Hackathon with people who have
    been in the industry for years when you are just starting out. Here at General
    Assembly we have seen this be an issue. We aim to provide a space area where
    we all can test our skills and push each other to grow and learn as much as
    possible! In doing so, we have created General Assembly specific Hackathons!
    These hackathons are geared towards individuals who are still learning or alumni
    who would like to help others learn.</h5>
  </div>
  <div class="bottom-wwd">
    <h2 class="subtitle about-title">Educating Individuals</h2>
    <h5>We aim to built vital skills as all professional levels. We want to provide
    an area where individuals can practice their skills without the feeling of being
    left behind or not being able to contribute anything. In doing so, you will be
    about to challenge yourself as well as boosting your portfolio!</h5>
  </div>
</div>
<br>
<div class='wwa'>
  <div class="top-wwa">
    <h2 class="subtitle about-title">Who We Are</h2>
    <h3>Alessandro Pianetta</h3>
    <h5>A former English teacher in Japan for two years right out of college he
    decided he wanted to challenge himself. He was exposed to web development through
    a friend and made the decision that this is the path he would love to take and
    make this a career. He has taken a liking to the frontend and has created many
    amazing projects with his talent and eye for good design. He has a passion for
    traveling and would love to work around the world for his new passion.</h5>
    <h3>Greice Silva</h3>
    <h5>A soft spoken individual with a vast knowledge with many different languages.
    A former manager of her family business decided she wanted to change careers
    and challenge herself. To challenge herself, she has truly taken control of
    learning how the backend works. In turn, she has become a guru with the backend
    and amazing at debugging the most complicated problems. She would love to work
    with the backend and continue to grow her skill set.</h5>
    <h3>Shivinder Gogna</h3>
    <h5>A former Marine and passion for building he was looking for a new challenge
    in life. His direction went towards web development when he discovered the difficulties
    involved and the ability to build virtually anything based on ones own knowledge.
    Working with teams is something he loves to do and has taken a liking to the backend
    of web development. </h5>
    <h3>Zach Cusimano</h3>
    <h5>A passionate team leader who cofounded a software company and had the role
    of overseeing and managing a scrappy team. He left to learn a new skillset and
    eventually end up back in marketing. His goals are to bridge the gap between
    the marketing team and the web development teams to make operations more fluid.
    Having a great eye for design he has become a vital role in the teams he's belonged
    to for that area.
    </h5>
  </div>
</div>
<div class='wga'>
  <div class="top-wga">
    <h2 class="subtitle about-title">Why General Assembly</h2>
    <h5>General Assembly is a pioneer in education and career trasnformation and
    is always looking for ways to improve student life! Not only will General Assembly's
    Hackathon give you more confidence but it is a great way to meet amazing people
    and expand your connections! </h5>
  </div>
</div>
