// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-image {
  background-image: url("aboutbackground.jpg");
  height: 600px;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  }

  .affix + .container-fluid {
  padding-top: 100px;
  }
