/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), asset-url('glyphicons-halflings-regular.woff') format('woff'), asset-url('glyphicons-halflings-regular.ttf') format('truetype'), asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



body,
html {
    height: 100%;
}

input {
    height: 40px;
    width: 100%;
    margin: 10px;
}

.page-wrap {
  height: 90vh;
}

footer {
    color: white;
    background-color: black;
    bottom: 0;
    height: 100px;
    margin-top: 10%;
}

li {
    color: white;
}

img{
  margin-left: 20px;

}

.input_field {
    width: auto;
}

.login_label {
    padding-left: 15px;
}
//
// #logo {
//     margin-right: 10px;
//     padding: 0;
//     margin-top: -5px;
// }

#hackathon {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
}

.logolink {
  text-decoration: none;
}

#signupheader{
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
}


.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.col {
    background-color: green;
}

.navbar-default {
    background-color: black;
}


.nav_links{
  text-align: left;
  padding-left: 50px;
}
.nav_links:hover {
    background-color: white;
    color: red;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default{
  border-color: black;
}


.logo{
  height: 100%;
  width: 35px;
  margin-top: -23px;
}


.subtitle {
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
}
.pic-large{
  margin: 10px auto;
}

.pic-small{

}
.card-title{
  height: 100%;
  width: 100%;
}

.cards{
  margin-top: 10px;
  background-color: #DADADA;
  height: 200px;
}
.glyphicon-ring {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid white;
  display: inline-table;
  text-align: center;
}
.glyphicon{
  margin: 8px;
}
.idea-pic{
  height: 50px;
  width: 50px;
  float: left;
}

// Event index page

.event_title {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: black!important;
}

#eventindexheader {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  width: 100%;
  background-color: #ECECEC;
  margin-top: 0px;
  padding-top: 30px;
  height: 150px;
}

// Event show page

#eventshowheader {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  margin-top:50px
}

#eventshowsidebar {
  background-color: #ECECEC;
  padding: 50px;
  border: black 2px solid;
  overflow: auto;
  margin-top: 70px;
}

#eventshowimage {
  // border: black solid 2px;
  display:block;
  margin:auto;
  padding-right: 100px;
}

#sidebreak {
  border: solid black 1px;
}

// * {
//   border: black solid 2px;
// }
