/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), asset-url('glyphicons-halflings-regular.woff') format('woff'), asset-url('glyphicons-halflings-regular.ttf') format('truetype'), asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


a {
  text-decoration: none !important;
}

input {
    height: 40px;
    width: 100%;
    margin: 10px;
}

#toast-container{
  top: 80px;

}

li {
    color: white;
}

img{
  margin-left: 20px;

}

.cards{
  margin: 10px, auto;
  background-color: #DADADA;
  // height: 200px;
  max-width: 350px;
  min-width: 250px;
  height: auto;
}

.card-content{
  font-family: 'Oswald', sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;

  .card-title{
  height: 100%;
  width: 100%;
}

}

.glyphicon{
  margin: 8px;
}

.idea_attachments{
  height: 250px;
  width: 250px;
}

.idea-card{
  border: solid 1px #DADADA;
  padding: 10px;
}

.idea-pic{
  height: 50px;
  width: 50px;
  float: left;
}

.input_field {
    width: auto;
}

.input_field_label {
    padding-left: 15px;
}

.logo{
  height: 100%;
  width: 35px;
  margin-top: -23px;
}

.logolink {
  text-decoration: none;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default {
    background-color: black;
    border-color: black;
}

.nav_links{
  text-align: left;
  padding-left: 50px;
}

.nav_links:hover {
    background-color: white;
    color: red;
}


.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap {
  height: 90vh;
}

.page-wrap:after {
    content: "";
    display: block;
}
.pic-large{
  margin: 10px auto;
  max-width: 250px;
  max-height: 250px;
  border: solid 1px #DADADA;
  border-radius: 50%;
}

.pic-small{
  margin-top: 15px;
  max-width: 80px;
  max-height: 80px;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
}

#hackathon {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
}

// Event index page

.event_title a {
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  color: black;
}

.eventindexheader {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  background-color: #ECECEC;
  margin-top: 0px;
  padding-top: 80px;
  height: 250px;
}

#eventindexheader1 {
  font-size: 65px;
}

#eventindexheader2 {
  font-size: 25px;
  padding-right: 33%;
}

#eventrows:hover {
  background-color: #ECECEC;
}

// Event show page

#eventshowheader {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  margin-top:50px;
}

#eventshowheader2 {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin-top:25px;
  text-decoration: underline;
}

#eventshowsidebar {
  background-color: #ECECEC;
  padding: 50px;
  border: black 2px solid;
  overflow: auto;
  margin-top: 70px;
}

#eventshowimage {
  // border: black solid 2px;
  display:block;
  margin:auto;
  padding-right: 100px;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: black;
}

.navbar-brand {
  padding: 0;
}

#logo {
  height: 100%;
}

#hackathon {
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  font-size: 3em;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.contain {
   min-height:100%;
   position:relative;
}
.header {
   background: black;
   padding:10px;
}
.body {
   padding:10px;
   padding-bottom: 250px;   /* Height of the footer */
}
.footer {
  color: #A2A2A2;
  position:absolute;
  bottom:0;
  width:100%;
  height: 125px;   /* Height of the footer */
  background: #222222;
  padding-top: 10px;
}

.editlabel {
  font-family: Oswald;
}

#sidebreak {
  border: solid black 1px;
}

#eventshowideas:hover {
  background-color: #ECECEC;
}

span.glyphicon-menu-up {
    font-size: 2em;
}

