// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-title{
  height: 100%;
  width: 100%;
}

.cards{
  margin-top: 10px;
  background-color: #DADADA;
  height: 200px;
}

select {
  width: 100%;
  margin-left: 10px;
}
